<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Demo</title>
</head>
<body>
<div id="app">
    <div class="read-box">
        <div>消息</div>
        <div>
            <ul id="txt_receiver"></ul>
        </div>
    </div>

    <div class="writer-box">
        <div>内容：</div>
        <textarea id="txt_send"></textarea>
        <input id="btn_send" type="button" value="发送">
    </div>
</div>
<script type="text/javascript">
    var ws = new WebSocket("ws://localhost:8080/chat/login");

    ws.onopen = function (evt) {
        console.log("Connection open ...");

        ws.send(JSON.stringify({
            "type_id": 1,
            "content": "Hello world",
        }));
    };
    ws.onmessage = function (evt) {
        const packet = JSON.parse(evt.data)

        //  对各类包的判定
        switch (packet.packet_id) {
            case 1:
                sessionStorage.setItem('qs_session', packet.session_id)
                console.log('已成功加入 SESSION')
                break
            case 2:
                let receiver = document.getElementById("txt_receiver").innerHTML
                receiver += '<li>' + packet.message + '</li>'
                document.getElementById("txt_receiver").innerHTML = receiver
            default:
                console.log('消息:' + evt.data)
        }
    };
    ws.onclose = function (evt) {
        console.log("Connection closed.");
    };

    //  发送
    document.getElementById("btn_send").addEventListener('click', function (ev) {
        const sendTxt = document.getElementById("txt_send").value

        ws.send(JSON.stringify({
            session_id: sessionStorage.getItem('qs_session'),
            message: sendTxt,
            packet_id: 2
        }))

        document.getElementById("txt_send").value = ""
    })
</script>

</body>
</html>