<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>chat</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link href="/static/css/app.5c719611.css" rel="preload" as="style">
    <link href="/static/css/chunk-vendors.7fbeee9b.css" rel="preload" as="style">
    <link href="/static/js/app.5c239a5c.js" rel="preload" as="script">
    <link href="/static/js/chunk-vendors.52075465.js" rel="preload" as="script">
    <link href="/static/css/chunk-vendors.7fbeee9b.css" rel="stylesheet">
    <link href="/static/css/app.5c719611.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but chat doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong></noscript>
<div id="app"></div>
<script>window.renderData = {
        Nickname: {{ .Nickname }},
        RoomId: {{ .RoomId }},
        Host: {{ .Host }}
    }</script>
<script src="/static/js/chunk-vendors.52075465.js"></script>
<script src="/static/js/app.238f335b.js"></script>
</body>
</html>